<% content_for :css do %>
    <%= stylesheet_link_tag 'nav' %>
    <%= stylesheet_link_tag 'main_layouts' %>
<% end %>
<%= render "common/sidebar" %>
  <div class="app-content">
    <div class="projects-section">
        <div class="projects-section-header">
            <p>My Page</p>
            <p class="time "><%= Date.today %></p>
        </div>
        <!--ユーザー編集のAjax-->
        <%= render partial: "users/profile", locals:{ user: @user } %>
        <div class="projects-section-line">
            <div class="projects-status">
                <div class="item-status">
                    <span class="status-number"><%= @user.posts.count %></span>
                    <span class="status-type">Total Posts</span>
                </div>
                <div class="item-status">
                    <span class="status-number"><%= @user.follower.count %></span>
                    <span class="status-type">Followings</span>
                </div>
                <div class="item-status">
                    <span class="status-number"><%= @user.followed.count %></span>
                    <span class="status-type">Follower</span>
                </div>
            </div>
            <div class="view-actions">
                <% if @user.id == current_user.id %>
                    <%= link_to "Edit Profile", edit_user_path(@user), remote: true, class: "btn btn-primary w-10" %>
                    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                <% end %>
                <% if current_user != @user %>
                    <% if current_user.following?(@user) %>
                      <%= link_to 'Unfollow', user_relationships_path(@user.id), method: :delete, remote: true, class: "btn btn-primary" %>
                    <% else %>
                      <%= link_to 'Follow', user_relationships_path(@user.id), method: :POST, remote: true, class: "btn btn-primary" %>
                    <% end %>
                <% end %>
                <button class="view-btn list-view " title="List View ">
                  <svg xmlns="http://www.w3.org/2000/svg " width="24 " height="24 " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round " class="feather feather-list ">
                    <line x1="8 " y1="6 " x2="21 " y2="6 " />
                    <line x1="8 " y1="12 " x2="21 " y2="12 " />
                    <line x1="8 " y1="18 " x2="21 " y2="18 " />
                    <line x1="3 " y1="6 " x2="3.01 " y2="6 " />
                    <line x1="3 " y1="12 " x2="3.01 " y2="12 " />
                    <line x1="3 " y1="18 " x2="3.01 " y2="18 " />
                　</svg>
                </button>
                <button class="view-btn grid-view active " title="Grid View">
                  <svg xmlns="http://www.w3.org/2000/svg " width="20 " height="20 " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round " class="feather feather-grid ">
                    <rect x="3 " y="3 " width="7 " height="7 " />
                    <rect x="14 " y="3 " width="7 " height="7 " />
                    <rect x="14 " y="14 " width="7 " height="7 " />
                    <rect x="3 " y="14 " width="7 " height="7 " />
                　</svg>
                </button>
            </div>
        </div>
        <div class="project-boxes jsGridView">
        <% @posts.each do |post| %>
            <div class="project-box-wrapper post-action-<%= post.id %>">
                <div class="project-box">
                    <div class="project-box-header">
                        <div class="project-box-header-introduction">
                            <%= link_to attachment_image_tag(post.user, :profile_image, format: 'jpeg', size: "50x50", fallback: "no_image.jpg", size:'100x100'), user_path(post.user.id) %>
                            <%= link_to_if post.user, post.user.name, user_path(post.user.id) %>
                        </div>
                        <div class="post-action-#{ post.id }">
                          <%= link_to(content_tag(:i, nil, class: 'fas fa-edit'), edit_post_path(post), remote: true) %>
                          <%= link_to(content_tag(:i, nil, class: 'fas fa-trash-alt'), post_path(post), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' }) %>
                        </div>
                    </div>
                    <div class="project-box-content-header">
                        <p class="box-content-header "><%=safe_join(post.body.split("\n"),tag(:br))%></p>
                    </div>
                    <div class="project-box-footer ">
                        <div class="participants ">
                            <div id="likes_buttons_<%= post.id %>">
                                <%= render partial: 'posts/post', locals: {post: post} %>
                            </div>
                        </div>
                        <div class="days-left " style="color: #ff942e; ">
                            <%= l post.created_at, format: :default %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
      <!--フォロー、フォロワー欄（幅をコンパクトにしたい）-->
    <div class="messages-section ">
        <div class="follow-bar-right">
            <div class="projects-section-header ">
                <p>Following</p>
            </div>
            <% @following_users.each do |following_user| %>
            <div class="messages ">
                <div class="message-box">
                    <%= link_to (user_path(following_user.id)) do %>
                    <p><%= attachment_image_tag(following_user, :profile_image, format: 'jpeg', size: "50x50", fallback: "no_image.jpg", size:'100x100') %></p>
                    <div class="message-content ">
                        <div class="message-header ">
                            <div class="name "><%= following_user.name %></div>
                        </div>
                    <% end %>
                        <p class="message-line ">
                            ##
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
        <div class="follow-bar-left">
            <div class="projects-section-header ">
                <p>Follower</p>
            </div>
            <% @follower_users.each do |follower_user| %>
                <div class="messages ">
                    <div class="message-box ">
                        <%= link_to (user_path(follower_user.id)) do %>
                        <p><%= attachment_image_tag(follower_user, :profile_image, format: 'jpeg', size: "30x30", fallback: "no_image.jpg", size:'100x100') %></p>
                        <div class="message-content ">
                            <div class="message-header ">
                                <div class="name"><%= follower_user.name %></div>
                            </div>
                        <% end %>
                            <p class="message-line">
                                #
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
  </div>
<!--<script type="text/javascript" src="main_layouts.js"></script>-->