<% content_for :css do %>
    <%= stylesheet_link_tag 'nav' %>
    <%= stylesheet_link_tag 'main_layouts' %>
<% end %>
<%= render "common/sidebar" %>

        <div class="app-content ">
            <div class="projects-section ">
                <div class="projects-section-header ">
                    <p>Tweet</p>
                    <p class="time "><%= Date.today %></p>
                </div>
                <div class="projects-section-line ">
                    <div class="projects-status ">
                        <div class="item-status ">
                            <span class="status-number ">45</span>
                            <span class="status-type ">In Progress</span>
                        </div>
                        <div class="item-status ">
                            <span class="status-number ">24</span>
                            <span class="status-type ">Upcoming</span>
                        </div>
                        <div class="item-status ">
                            <span class="status-number ">62</span>
                            <span class="status-type ">Total Projects</span>
                        </div>
                    </div>
                    <div class="view-actions ">
                        <button class="view-btn list-view " title="List View ">
                          <svg xmlns="http://www.w3.org/2000/svg " width="24 " height="24 " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round " class="feather feather-list ">
                            <line x1="8 " y1="6 " x2="21 " y2="6 " />
                            <line x1="8 " y1="12 " x2="21 " y2="12 " />
                            <line x1="8 " y1="18 " x2="21 " y2="18 " />
                            <line x1="3 " y1="6 " x2="3.01 " y2="6 " />
                            <line x1="3 " y1="12 " x2="3.01 " y2="12 " />
                            <line x1="3 " y1="18 " x2="3.01 " y2="18 " />
                        　</svg>
                        </button>
                        <button class="view-btn grid-view active " title="Grid View ">
                          <svg xmlns="http://www.w3.org/2000/svg " width="20 " height="20 " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round " class="feather feather-grid ">
                            <rect x="3 " y="3 " width="7 " height="7 " />
                            <rect x="14 " y="3 " width="7 " height="7 " />
                            <rect x="14 " y="14 " width="7 " height="7 " />
                            <rect x="3 " y="14 " width="7 " height="7 " />
                        　</svg>
                        </button>
                    </div>
                </div>
                <div class="project-boxes jsGridView ">
                    <div class="project-box-wrapper ">
                        <div class="project-box " style="background-color: #fee4cb; ">
                            <div class="project-box-header ">
                                <div class="more-wrapper ">
                                    <button class="project-btn-more ">
                                        <svg xmlns="http://www.w3.org/2000/svg " width="24 " height="24 " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round " class="feather feather-more-vertical ">
                                          <circle cx="12 " cy="12 " r="1 " />
                                          <circle cx="12 " cy="5 " r="1 " />
                                          <circle cx="12 " cy="19 " r="1 " />
                                      　</svg>
                                  　</button>
                                </div>
                            </div>
                            <div class="project-box-content-header">
                                <p class="box-content-header "><%=safe_join(@post.body.split("\n"),tag(:br))%></p>
                            </div>
                            <div class="box-progress-wrapper ">
                                <p class="box-progress-header ">Progress</p>
                                <div class="box-progress-bar ">
                                    <span class="box-progress " style="width: 60%; background-color: #ff942e "></span>
                                </div>
                                <p class="box-progress-percentage ">60%</p>
                            </div>
                            <div class="project-box-footer ">
                                <div class="participants ">
                                    #
                                </div>
                                <div class="days-left " style="color: #ff942e; ">
                                    <%= l @post.created_at, format: :default %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--<script type="text/javascript" src="main_layouts.js"></script>-->