<!DOCTYPE html>
<html>
  <head>
    <title>Tuitta</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--navbar-codepen-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script type="text/javascript" src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js"></script>
    <%= javascript_include_tag 'main_layouts', 'data-turbolinks-track': 'reload' %>
    <!--<script type="text/javascript" src="/PF_tuitta-/app/assets/javascripts/main_layouts.js"></script>-->
    <!--main-codepen-->
     <!--view毎のCSS設定-->
     <%= yield :css %>
  </head>

  <body>
    <header>
      
    </header>
    
    <%= yield %>
    <footer>
      
    </footer>
  </body>
</html>
